
  .cardContainer{
    text-align: justify;
    width:30%;
    padding:5%;
    color:white;
    background-color: #e4013ae1;
    transition: all 1s ease


  }
  .cardContainer:hover {
    width:40%;
    padding:5%
    
    
  }

.cardContainer1{
    

    clip-path: polygon(0 1%, 100% 0%, 80% 100%, 0% 100%);;
   ;
}
.cardContainer2{
    
    clip-path: polygon(17% 0, 88% 0, 100% 100%, 0% 100%);
    
}
.cardContainer3{
  
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 16% 100%);
   
}
@media (max-width: 767px) {
  .cardContainer{
    text-align: justify;
    width:90%;
    padding:5%;
    color:white;
    background-color: #e4013ae1;
    transition: all 1s ease
}
.cardContainer:hover {
  height:20hv;
  width:90%;
   
 }
 

.cardContainer1{
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
}
.cardContainer2{
  clip-path: polygon(0 18%, 100% 0%, 100% 99%, 0 84%);;
}
.cardContainer3{
  clip-path: polygon(0 13%, 100% 0%, 100% 99%, 0 100%);
}
}