.Coverabout{
    background-image: url('img/Coverabout.png');
    background-size: cover;
    margin-top:5%;
    height:500px;
}
.Coverabout p{
float:left;
margin-top:15%;
margin-left:40%;
padding:5%;
font-size:50px;
color:#e4013a;
background-color: rgba(255, 255, 255, 0.37);
box-shadow: 20px 20px 10px grey;


}
.videoIntro{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    
    
}
.text-intro{
    width:40%;
    
}
#Qui-somme-nous{
    margin-top:5%;
    color:#e4013a;
    font-size:20px ;
    border: 2px solid red;
    border-radius: 10px; ;
    padding:2%;
}
#Nous-sommes{

}
video{
   
    background-color:#e4013a ;
}
@media (max-width: 767px){
    .Coverabout p{
        margin-top: 40%;
        margin-left:25%;
    }
    .videoIntro{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        
        
    }
}