
a{
    font-size: x-large;
    text-decoration: none;
    color: #ffffff;
  
   
}
/* navbar end*/
body{
    background-image: url(https://i.imgur.com/NpGfnTu.jpg) ;
    background-size: cover;
  
    background-repeat: no-repeat;
   
    
}
/* contact formulaire*/

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow:  2px 3px 3px #ce0033;
  height: 500px;


}
label{
    font-family: fantasy;
    font-size: 30px;
   background-color:#ce0033;
   box-shadow:  2px 3px 3px #ce0033;
   transition: width 2s ,height 4s;
    color: #fff;
   
}
label:hover{
width:60px;
height: 40px;
}

h1 {
    text-align: center;
	
	color: #ce0033;
   font-size: 70px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-shadow: 2px 2px 2px 2px #ce0033;
   
}
textarea
{
    height: 150px;
    width: 350px;
   
	border: 3px solid;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
  background: rgba(0,0,0,.02);
}
input
{
    height: 60px;
    width: 280px;
   
	border: 3px solid;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
  background: rgba(0,0,0,.02);
}
input[type="submit"] {
	padding: .3em 1em;
	background: #ce0033;
	border: none;
	color: #fff;   
	border-radius: 4px;
	cursor: pointer;
}

.info1{
    
   width: 300px;
  background-color:transparent;
  opacity: 100%;
}
.info2{
    background-color: transparent;
    opacity: 100%;
    width: 300px;
}
.adresse{
    display: flex;
    

    background-color:#ce003434;
    opacity: 80%;
    background-size: cover;
    padding-top: 5px;

    justify-content: space-around;
    height: 400px;
    

   
   
}
.map{
padding-top: 50px;
transition: width 2s ,height 4s;
width:400px;
height: 400px;
}
h3{
padding-left: 10px;


}
.plus{
     display: flex;
    flex-wrap: wrap;
   background-color: #ce003467;







}
.aa{
    padding-top: 50px;
    
    width: 600px;
    clip-path: polygon(0 0, 75% 0, 95% 55%, 50% 100%, 1% 84%, 0 23%);

  
}
.map:hover{
    
    width: 700px;
    height: 700px;
}
/*finbody*/
/*footer*/

  
  h2{
      margin-top: 10px;
      text-align: center;
      height: 20px;
      text-decoration: none;
     
     
      box-shadow: 2px 2px  #f0c95e;
      opacity: 90%;
  }
  

  span{
    color: rgb(10, 9, 9);
    box-shadow: #fff;
    font-size: 18px;
}
.fa {
    
    font-size: 30px;
    width: 100px;
    height:50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: #3B5998;
    
  }
  .fa-youtube {
    color: #bb0000;
    
  }
  .fa-instagram {
    color: #d6249f;
    
  }
  .fiiter{
      background-color:#ce003427;
  }
  
  
 @media screen and (max-width: 1000px){
     
    .navbar{
        height:350px;
    }
    .adresse{

    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    
}
form{
    height:1000px;
}
iframe{
    width: 400px;
}


   
}

